<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string></string>
	<!-- Inject system OBF credentials via build settings (do NOT hard-code secrets here) -->
	<key>OBF_SYSTEM_USER_ID</key>
	<string>$(OBF_SYSTEM_USER_ID)</string>
	<key>OBF_SYSTEM_PASSWORD</key>
	<string>$(OBF_SYSTEM_PASSWORD)</string>
</dict>
</plist>
